.star {
	--speed: 2;
	--angle: calc(pi / 4);
	--duration: 6s;
	--delay: 1s;
	--origin-x: 0;
	--origin-y: 0;

	--size-falloff: .5;

	width: max(calc(var(--progress) * var(--size-falloff) * 1px), 64px);
	
	x: calc(
		/* origin */
		var(--origin-x) +

		/* movement */
		(cos(var(--angle)) * var(--progress) * 1px * var(--speed)) +

		/* wave */
		sin(var(--progress) / 100) * var(--amplitude) * sin(var(--angle)));
		
	y: calc(
		/* origin */
		var(--origin-y) +

		/* movement */
		(sin(var(--angle)) * var(--progress) * 1px * var(--speed)) + 
		
		/* wave */
		sin(var(--progress) / 100) * var(--amplitude) * cos(var(--angle)));

	animation: var(--duration) linear var(--delay) star-path infinite;
}

@keyframes star-path {
	from {
		--progress: 0;
	}

	to {
		--progress: 1000;
	}
}


