@property --progress {
	syntax: "<number>";
	initial-value: 0;
	inherits: false;
}

@property --amplitude {
	syntax: "<length>";
	initial-value: 60px;
	inherits: false;
}

@property --origin-x {
	syntax: "<length>";
	initial-value: 0;
	inherits: false;
}

@property --origin-y {
	syntax: "<length";
	initial-value: 0;
	inherits: false;
}

@property --size-falloff {
	syntax: "number";
	initial-value: 0;
	inherits: false;
}


.star {
	--speed: 2;
	--angle: calc(pi / 4);
	--duration: 6s;
	--delay: 1s;
	--origin-x: 0;
	--origin-y: 0;

	--size-falloff: .5;

	width: calc(64px - (var(--progress) * var(--size-falloff) * 1px));
	
	x: calc(
		/* origin */
		var(--origin-x) +

		/* movement */
		(cos(var(--angle)) * var(--progress) * 1px * var(--speed)) +

		/* wave */
		sin(var(--progress) / 10) * var(--amplitude) * sin(var(--angle)));
		
	y: calc(
		/* origin */
		var(--origin-y) +

		/* movement */
		(sin(var(--angle)) * var(--progress) * 1px * var(--speed)) + 
		
		/* wave */
		sin(var(--progress) / 10) * var(--amplitude) * cos(var(--angle)));

	animation: var(--duration) linear var(--delay) infinite star-path;
}

@keyframes star-path {
	from {
		--progress: 0;
	}

	to {
		--progress: 1000;
	}
}


