:root {
	--bg-color: hsl(270, 19%, 7%);
	--accent-color: hsl(258, 42%, 27%);
	--accent-color-light: hsl(253, 76%, 64%);

}

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url("/src/assets/font/AtkinsonHyperlegibleNext-Light.ttf");
}


body{
	margin: 0;
	font-family: Atkinson Hyperlegible Next;
	background-color: var(--bg-color);
	color: white;

}
