:root {
	--bg-color: hsl(270, 14%, 19%);

}

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url("/src/assets/font/AtkinsonHyperlegibleNext-Light.ttf");
}


body{
	background-color: var(--bg-color);
	font-family: Atkinson Hyperlegible Next;

}

svg {
	width: 100%;
	height: 100vh;
}

