:root {
	--background-color: #32374a;
	--background-color-light: #415b7d;
	--accent-color: #473bce;
	--accent-color-light: #7c5cd6;
	--accent-color-lighter: #b08fe2;
}

@font-face {
	font-family: "Atkinson Hyperlegible Next";
	src: url("/src/assets/font/AtkinsonHyperlegibleNext-Light.ttf");
}

body {
	box-sizing: border-box;
	height: 100dvh;

	margin: 0;
	font-family: Atkinson Hyperlegible Next;
	background-color: var(--background-color);
	color: white;
}

.pixelart {
	image-rendering: pixelated;
}
